<div class="container">

	<div class="starter-template">
		<h1>Add Items</h1>
		<p class="lead">Add a new menu item<br><br><br></p>
		<form id="adminForm">
				<input type="text" id="name" class="form-control" placeholder="Item Name">
				<input type="text" id="category" class="form-control" placeholder="Category">
				<input type="text" id="description" class="form-control" placeholder="desription">
				<input type="text" id="price" class="form-control" placeholder="price">

				<br><br><br>
				<button class="btn btn-primary startBtn" id="addButton">Add Item</button>
		</form>
	</div>

</div><!-- /.container -->
