<div class="container">

	<div class="starter-template">
		<h1>Admin Panel</h1>
		<p class="lead">Edit menu, and run reports<br><br><br></p>
		<form id="startForm">
				<button class="btn btn-primary startBtn" id="addItem">Add Item</button>
				<button class="btn btn-primary startBtn" id="editItem">Edit Item</button>
				<button class="btn btn-primary startBtn" id="removeItem">Remove Item</button>
				<button class="btn btn-primary startBtn" id="reports">Reports</button>
			</div>
		</form>
	</div>

</div><!-- /.container -->
