<div class="container">

	<div class="starter-template">
		<h1>Store view</h1>
		<p class="lead">View all orders for the day!<br><br><br></p>
		<div class="panel panel-primary">
  <div class="panel-body">
  </div>
  <!-- Table -->
  <table class="table">
    <thread>
			<tr>
				<th>#</th>
				<th>State</th>
				<th>Date & Time</th>
				<th>Store</th>
				<th>Method</th>
				<th>Items</th>
			</tr>
		</thread>
		<tbody id="content">
			<!-- content appended here -->
		</tbody>
  </table>
</div>
	</div>

</div><!-- /.container -->
