<div class="container">

	<div class="starter-template">
		<h1>{{get_name}}</h1>
		<p class="lead">Start your pizza order online today.</p>
		<form>
				<button class="btn btn-primary startBtn" id="startButton">Start Order</button>
		</form>
	</div>

</div><!-- /.container -->
